<h1>welcome</h1>


<form action="/user/login" method="GET">
	<input type="submit" value ="user" >
</form>

<form action="/doc/login" method="GET">
	<input type="submit" value ="doctor" >
</form>

<form  action="/chem/login" method="GET">
	<input type="submit" value ="chemist" >
</form>