<h4>welcome user</h4>


<form action="/user/check" method="POST" >
	<input type="text" name="adhNo">
	<input type="password" name="pass">
	<input type="submit" value="login">
</form>


<a href="/user/signup">new user?</a>