
<h4>welcome doc</h4>


<form action="/doc/check" method="POST" >
	<input type="text" name="adhNo">
	<input type="password" name="pass">
	<input type="submit" value="login">
</form>


<a href="/doc/signup">new user?</a>