<h4>doc succesfull</h4>

<!-- sddtu01@gmail.com doctor is able to see the records of his patients  -->

<form>
	
<input type="text" name="adhNo" placeholder="enter the patients aadhar number" >


</form>