<h1>sign up</h1>



<form action="/doc/signup" method="POST">
	<input type="text" name="name" placeholder="name">s
	<input type="text" name="hospital" placeholder="hospital">
	<input type="text" name="adhNo" placeholder="adhaar number">
	<input type="text" name="spec" placeholder="speciality">
	<input type="password" name="pass">
	<input type="submit" value="signup">

</form>